body {
    background-color: #f5d9d5;
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.red,
#mainNav .navbar-brand,
#mainNav .nav-link:hover {
    color: #ea1c2c;
}

.thin {
    font-weight: 100;
}

h2 {
    font-size: 2.5rem;
}

#mainNav {
    font-size: 1.5rem;
}

#mainNav .nav-link {
    color: white;
}

.navbar.scrolled {
    background-color: #FFC0CB;
    transition: background-color 400ms;
}

#headingGroup h1 {
    font-size: 4rem;
}

.opacity-3 {
    opacity: .3;
}

.opacity-5 {
    opacity: .5;
}

.opacity-7 {
    opacity: .7;
}

.info {
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
}

@media (max-width: 1350px) {
    #headingGroup h1 {
        font-size: 2.7rem;
    }
    h2 {
        font-size: 2rem;
    }
    .info {
        font-size: 1rem;
        line-height: 1.5;
    }
}